<h1>Create New Player</h1>
	<div class="row">
		<form id='newplayerform' method='post' action='' >
			<br>
				<h5>Player name:</h5>
			
	  			<input type="text" name="playername" required>
	  		</br>

	  		<br>
	  			<h5>Position:</h5>
	 			 <input type="text" name="position" required>
	 		</br>

	 		<br>
	 			<h5>Team:</h5>

	 			<input type="text" name="team" required>
	 		</br>

	 		<br>
	 			<h5>Nationality:</h5>

	 			<input type="text" name="nationality" required>
	 		</br>
	 		<br>
	 		<br>
	 			<h5>Player league:</h5>

	 			<input type="text" name="league" required>
		</form>	
	<div id="container"></div>
	<br /> <input type="submit" value="Submit Form" /><br />
</div>

