<div class="centered-card demo-card-wide image mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Welcome to Ultimate Team</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div><b>My Teams</b> - View your teams, and create new teams.</div>
    <div><b>Simulate A Game</b> - Simulate games between your favorite teams.</div>
    <div><b></b> - Search for a matching house.</div>
    <div><b>Find a Roommate</b> - Get matched with a roommate and find a house together.</div>
  </div>
</div>
