<div class="centered-card demo-card mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Simulate a Game</h2>
  </div>

  <div class="mdl-card__supporting-text">

  	<!-- Team 1 -->
    <md-input-container>
      <label>Team 1</label>
      <md-select ng-model="team1"
                 md-on-close="clearSearchTerm()"
                 class="selectdemoSelectHeader"
                 id='selectdemoSelectHeaderId'>
        <md-select-header class="demo-select-header">
          <input ng-model="searchTerm1"
                 type="search"
                 placeholder="Search for teams..."
                 class="demo-header-searchbox _md-text">
        </md-select-header>
        <md-optgroup label="teams">
          <md-option ng-value="team" ng-repeat="team in teams | filter:searchTerm1">{{team.name}}</md-option>
        </md-optgroup>
      </md-select>
    </md-input-container>

		<!-- Team 2 -->
    <md-input-container>
      <label>Team 2</label>
      <md-select ng-model="team2"
                 md-on-close="clearSearchTerm()"
                 class="selectdemoSelectHeader"
                 id='selectdemoSelectHeaderId'>
        <md-select-header class="demo-select-header">
          <input ng-model="searchTerm2"
                 type="search"
                 placeholder="Search for teams..."
                 class="demo-header-searchbox _md-text">
        </md-select-header>
        <md-optgroup label="teams">
          <md-option ng-value="team" ng-repeat="team in teams | filter:searchTerm2">{{team.name}}</md-option>
        </md-optgroup>
      </md-select>
    </md-input-container>
      <!--
      <md-input-container>
        <label>Players</label>
        <md-select ng-model="players_selected" md-on-close="clearSearchTerm()" data-md-container-class="selectdemoSelectHeader" multiple>
          <md-select-header class="demo-select-header">
            <input ng-model="searchTerm" type="search" placeholder="Search for player" class="demo-header-searchbox _md-text" id="playersearch">
          </md-select-header>
          <md-optgroup label="players">
            <md-option ng-value="player" ng-repeat="player in players | filter:searchTerm">{{player.name}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container> -->

    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="createTeam()">
      Submit
    </a>
 </div>
</div>
<!-- <div class="centered-card demo-card mdl-card mdl-shadow--2dp">
	<div class="mdl-card__title">
		<h1 class="mdl-card__title-text">Simulate</h1>
	</div>

	<div class="mdl-card__supporting-text">
    <form>
      <md-input-container>
        <label>Team 1</label>
        <md-select ng-model="team1"
                   md-on-close="clearSearchTerm()"
                   class="selectdemoSelectHeader"
                   id='selectdemoSelectHeaderId'
                   multiple>
          <md-select-header class="demo-select-header">
            <input ng-model="searchTerm1"
                   type="search"
                   placeholder="Search for players..."
                   class="demo-header-searchbox _md-text">
          </md-select-header>
          <md-optgroup label="teams">
            <md-option ng-value="player" ng-repeat="team in teams | filter:searchTerm1">{{team.name}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container>

      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="createTeam()">
        Submit
      </a>
    </form>
 </div>

	<div class="mdl-card__supporting-text">
		<form>
      <h1 class="md-title">Team 1</h1>
      <md-input-container>
      		<label>Team 1</label>
          <md-select ng-model="team1" md-on-close="clearSearchTerm()" class="selectdemoSelectHeader">
          	<md-select-header class="demo-select-header">
	            <input ng-model="searchTerm1"
	                   type="search"
	                   placeholder="Search for teams..."
	                   class="demo-header-searchbox _md-text">
	          </md-select-header>
	          <md-optgroup label="teams">
            	<md-option ng-value="team" ng-repeat="team in teams | filter:searchTerm1">{{team.name}}</md-option>
          	</md-optgroup>
          </md-select>
      </md-input-container>


			<md-input-container>
      <label>TEAM 1</label>
      <md-select ng-model="team1"
                 md-on-close="clearSearchTerm()"
                 data-md-container-class="selectdemoSelectHeader">
        <md-select-header class="demo-select-header">
          <input ng-model="searchTerm"
                 type="search"
                 placeholder="Search for a vegetable.."
                 class="demo-header-searchbox _md-text">
        </md-select-header>
        <md-optgroup>
          <md-option ng-value="team" ng-repeat="team in teams |
            filter:searchTerm">{{team.name}}</md-option>
        </md-optgroup>
      </md-select>
    </md-input-container>

			<h2 class="md-title">Team 2</h2>
			<md-input-container>
        <label>Team 2</label>
        <md-select ng-model="team2"
                   md-on-close="clearSearchTerm()"
                   class="selectdemoSelectHeader">
          <md-select-header class="demo-select-header">
            <input ng-model="searchTerm2"
                   type="search"
                   placeholder="Search for team..."
                   class="demo-header-searchbox _md-text">
          </md-select-header>
          <md-optgroup label="teams">
            <md-option ng-value="team" ng-repeat="team in teams | filter:searchTerm2">{{team.name}}</md-option>
          </md-optgroup>
        </md-select>
      </md-input-container> -->

			<!-- Simulate button -->
			<!-- <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" ng-click="simulate(team1, team2)">
			  Simulate
			</button>
    </form>

    Results
		<p class="text-center" ng-hide="dataLoaded">
			<i class="fa fa-spinner fa-spin"></i>
		</p>
		<div ng-show="dataLoaded">
			The results are in!
		</div>
	</div>
</div> -->