<div class="centered-card demo-card-wide image mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Welcome to TopHaüs</h2>
  </div>
  <div class="mdl-card__supporting-text">
    <div><b>Profile</b> - Edit your profile, roommate preferences, and Haüs preferences.</div>
    <div><b>List a House</b> - List a house on TopHaüs.</div>
    <div><b>Search Houses</b> - Search for a matching house.</div>
    <div><b>Find a Roommate</b> - Get matched with a roommate and find a house together.</div>
  </div>
</div>
