{% if latest_player_list %}
	<p><a href="{% url 'search:players' latest_player_list %}">Players</a></p>
{% endif %}

{% if latest_player_list %}
	<ul>
		{% for player in latest_player_list %}
		<li><a href="{% url 'search:player' player.id %}">{{ player.player_name }}</a></li>
		{% endfor %}
	</ul>
{% else %}
	<p>No players are available.</p>
{% endif %}

<h1>Teams</h1>
{% if latest_team_list %}
	<ul>
		{% for team in latest_team_list %}
		<li><a href="{% url 'search:team' team.id %}">{{ team.team_name }}</a></li>
		{% endfor %}
	</ul>
{% endif %}
