<h1>Players</h1>

<div class="row">
	<div class="col-md-2">
		<!-- Sidebar content -->
		Search: <input placeholder="Player name" ng-model="query">
	</div>
	<div class="col-md-10">
		<!-- Body content -->
		<dl class="dl-horizontal">
			<div ng-repeat="player in players | filter:query" class="player">
				<dt>
					<a ng-href="#/players/{{player.id}}">{{player.player_name}}</a>
				</dt>
				<dd>
					<p>{{player.position}} – {{player.team_name}}</p>
				</dd>
			</div>
		</dl>
		<!--Button hyperlink to create new player-->
		<a href="#/new-player">
			
			<button id="myButton"> Create Player</button>
		</a>

	</div>
</div>